<section class="hero is-danger is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">About MicroPinterest</h1>
        </div>
    </div>
</section>


<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">MicroPinterest</p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>MicroPinterest is a visual discovery engine for finding ideas like recipes, home and style inspiration, and more.</p>
                        <p>With billions of Pins on MicroPinterest, you'll always find ideas to spark inspiration. When you discover Pins you love, save them to boards to keep your ideas organized and easy to find. You can also create Pins to share your ideas with other people on MicroPinterest.</p>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->

    </section>
    <!-- END ARTICLE FEED -->
    </div>